.youtube-player {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  max-height: 405px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 0 auto;

  &>.youtube-player-bg {
    bottom: -100%;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: -100%;
  }

  &>.youtube-player-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
  }
}
