---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";
@import "yt-video";


.article-content {
  @extend .box;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 1024px) {
  .article-content, .article-content>* {
    padding: 0;
    border: 0;
    box-shadow: none;
  }
}

.navbar-burger, .navbar-burger:active, .navbar-burger:focus {
  border-radius: 0;
  border: 0;
  outline: none;
}

// .navbar {
//   z-index: 10
// }

// .navbar-dropdown {
//   z-index: 1
// }

.footer {
  border-top: 1px solid $grey-lighter;
}

.navbar {
  border-bottom: 1px solid $grey-lighter;

  .navbar-brand>.navbar-item:first-child:hover {
    color: inherit;
  }
}

html {
  height: 100%;
  background: $white-ter;
}

body {
  background: white;
}
